<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            font-family: "Ubuntu", "Roboto", sans-serif;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 30%;
        }

        .erro {
            border: 1px solid #ff6a61;
            background: #ffbdb9;
            ;
            padding-bottom: 10px;
        }

        .erro li {
            padding-left: 10px;
        }
    </style>
</head>

<body>
    <h1>Painel de administração</h1>

    <a href="/">Ir para pagina inicial</a>
    <a href="/logout">Logout</a>
    <form action="/admin" method="post" enctype="multipart/form-data">
        {{#if mensagem}}
        <ul class="erro">
            <h3>Erro</h3>
            {{#each mensagem as |erro|}}
            <li>{{erro}}</li>
            {{/each}}
        </ul>
        {{/if}}
        <label for="username">Digite o titulo</label>
        <input type="text" name="title">
        <label for="body">Digite o corpo do post</label>
        <textarea name="body" id="" cols="30" rows="10"></textarea>
        <label for="imagem">Coloque uma imagem</label>
        <input type="file" name="imagem" accept="image/*">
        <button type="submit">Enviar</button>
    </form>
</body>

</html>