<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/cadastro" method="post">
        <h1>ERRO!</h1>
        <ul>
            {{#each mensagem as |erro|}}
            <li>{{erro}}</li>
            {{/each}}
        </ul>
        <a href="/login">Logar na plataforma</a>
    </form>
</body>

</html>