<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="/feed" method="get">
            <input type="text" name="search">
            <button type="submit">Pesquisar</button>
        </form>
        {{#each items as |item|}}
        <h1>{{item.title}}</h1>
        <h2>Author: {{item.author}}</h2>
        <p>{{item.body}}</p>
        {{/each}}
    </div>
</body>

</html>