<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/cadastro" method="post">
        <ul>
            {{#each mensagem as |erro|}}
            <li>{{erro}}</li>
            {{/each}}
        </ul>
        <label for="username">Digite um nome de usuário</label>
        <input type="text" name="username">
        <label for="password">Digite uma senha</label>
        <input type="password" name="password">
        <button type="submit">Enviar</button>
    </form>
</body>

</html>